name: build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - README.md
  schedule:
    # Schedule the job to run at 9am on Tuesday.
    - cron: "0 9 * * 2"

jobs:
  build:
    strategy:
      matrix:
        # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
        # https://github.com/actions/runner-images/blob/main/images/macos/macos-26-arm64-Readme.md
        os:
          - macos-26
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - run: brew update
      - run: brew install shellcheck
      - run: shellcheck mac
      - run: HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=true sh mac
